#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

/ {
    combos {
        compatible = "zmk,combos";

        // Clears the current Bluetooth profile
        shift_esc_pair {
            timeout-ms = <50>;
            key-positions = <0 12>;
            bindings = <&bt BT_CLR>;
        };

        // USB Mode:
        // Select empty BT profile (1)
        // Switch output to USB
        // Go to layer 4
        force_usb_mode {
            timeout-ms = <50>;
            key-positions = <0 16>;
            bindings = <&bt BT_SEL 1>, <&out OUT_USB>, <&to 4>;
        };

        // Bluetooth Mode:
        // Select paired profile (0)
        // Switch output to BLE
        // Go to layer 1
        force_bt_mode {
            timeout-ms = <50>;
            key-positions = <1 16>;
            bindings = <&bt BT_SEL 0>, <&out OUT_BLE>, <&to 1>;
        };
    };
};